@charset "UTF-8";

body{
    box-sizing: border-box;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
    background-color: white;
}

.header{
    text-align: center;
    margin: 30px;
    background-color: white;
}

.topnav a{
    float: left;
    text-align: center;
    background-color: #333; 
    color: white;
    text-decoration: none;
    margin: 0 0 0 10px;
    padding: 14px 16px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    align-items: center;

}

#carrinho-compras{
    float: right;
}

#icone-carrinho{
    float: left;
    width: 22px;
    height: 22px;
    margin: 0 10px;
}

.sellcard{
    float: left;
    width: 23.40%;
    margin: 10px;
}

.sellcard img{
    display: block;
    width: 80%;
    margin: auto;
    height: auto;
}

.item {
    text-align: center;
    font-size: 15px;
    font-family:  Helvetica;
    font-style: normal;
    font-weight: 400;
}

.valor-item{
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.comprar{
    text-align: center;
}

.footer{
    text-align: center;
    padding: 10px;
}